@model RentalManagement.Models.Tenant;

@{
    Layout = null;
    
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title>Kerwin's Apartment</title>
    <link rel="icon" type="image/x-icon" href="images/logo2.svg">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.5.0/css/all.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/home.css">
    <script src="home.js"></script>
</head>

<body id="bodyCont">
    <section id="header">
        <div class="navbar">
            <a asp-action="Logout" style="margin-top:12px" id="Logout">Logout</a>
            <div class="dropdown nbItem">
                <button class="dropbtn">
                    <i class="fas fa-tools"></i>
                </button>
                <div class="dropdown-content">
                    <a href="@Url.Action("Notifications", "TenantHome")">Notifications</a>
                    <a href="@Url.Action("Settings", "TenantHome")">Account Settings</a>
                </div>
            </div>
        </div>
    </section>

    <div>

    </div>

    <section id="accdetails">
        <b>Tenant: </b>&nbsp; @Html.DisplayNameFor(model => model.Tenant_FirstName)
        <br>
        <b>Tenant ID: </b>&nbsp; @Html.DisplayNameFor(model => model.TenantId)
        <br>
        <b>Room Number: </b>&nbsp; @Html.DisplayNameFor(model => model.Tenant_RoomNumber)
        <br>
    </section>

    <section id="accdetails">
        <section id="buttonCont">
            <button>Pay Rent Bills</button> @*href for changing pages or url.action*@
            <button>Request Item or Service</button> @*href for changing pages or url.action*@
            <button>Send Feedback</button>
        </section>

    </section>


    <section id="backTopCont">
        <a href="#">
            <div class="backTop">
                <p>Back to Top&nbsp;&nbsp;<i class="fa-solid fa-arrow-up"></i></p>
            </div>
        </a>
    </section>

    <footer>
        <div class="footer-columns">
            <div class="column" id="col">
                <img src="images/logo.svg" alt="">
                <h2>Kerwin's Apartment</h2>
            </div>
            <div class="colBorder"></div>
            <div class="column">
                <h4>About</h4>
                <p>About us</p>
                <p>Rental Information</p>
                <p>Rent Rates and Policies</p>
                <p>Terms and Condition</p>
                <p>Community Information</p>
            </div>
            <div class="colBorder"></div>
            <div class="column" id="col">
                <h4>Contact us</h4>
                <p>+63 9123456789</p>
                <p>kerwin.rental@kerwin.com.ph</p>
                <p>Paknaan, Mandaue City, Cebu 6014</p>
                <p>Kerwin's Apartment</p><br>
                <h4>Follow us</h4>
                <a href="https://www.facebook.com/">
                    <i class="fa-brands fa-facebook-f"></i>
                </a>
                <a href="https://www.twitter.com/">
                    <i class="fa-brands fa-twitter"></i>
                </a>
                <a href="https://www.instagram.com/">
                    <i class="fa-brands fa-instagram"></i>
                </a>
                <a href="https://www.pinterest.com/">
                    <i class="fa-brands fa-pinterest"></i>
                </a>
                <a href="https://www.youtube.com/">
                    <i class="fa-brands fa-youtube"></i>
                </a>
            </div>
        </div>


    </footer>

    <footer id="foot2">
        <div class="footCont">
            <div class="footCont2">
                <div class="column2">
                    <p>Web Application developed by <b>DPMS 2023</b></p>
                    <p>Delig • Pila • Monares • Salas</p>
                </div>
            </div>
        </div>
    </footer>

</body>
</html>