@model RentalManagement.Models.Applicants

@{
    ViewData["Title"] = "Application Details";
    Layout = "~/Views/Shared/_CustomLayout.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title>Kerwin's Apartment</title>
    <link rel="icon" type="image/x-icon" href="images/logo2.svg">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.5.0/css/all.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/home.css">
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
</head>
<body style="background-color: #FEEAD1">
    <section id="header">
        <div class="navbar">
            <a href="@Url.Action("Index", "Home")" class="nbItem" id="homeOpt"><i class="fa-solid fa-house"></i></a>
        </div>
    </section>
    <section id="detailsCont" style="margin-top: 30px;background-color: #422c10; border-radius: 10px; padding: 20px">
        <h1>Details</h1>
        <h4>Applicant</h4>
        <hr />
        <div style="padding-left: 30px">
            
            <dl class="row">
                <dt class="col-sm-2">
                    Name:
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Applicants_FirstName) @Html.DisplayFor(model => model.Applicants_MiddleName) @Html.DisplayFor(model => model.Applicants_LastName)
                </dd>
                <dt class="col-sm-2">
                    Email Address
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Applicants_Email)
                </dd>
                <dt class="col-sm-2">
                    Phone Number
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Applicants_PhoneNumber)
                </dd>
                <dt class="col-sm-2">
                    Address:
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Applicants_Address)
                </dd>
                <dt class="col-sm-2">
                    Room Applied
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Application_RoomNumber)
                </dd>
                <dt class="col-sm-2">
                    Unit Applied
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Application_UnitNumber)
                </dd>
                <dt class="col-sm-2">
                    Application Status
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Application_Status)
                </dd>
                <dt class="col-sm-2" width="50px">
                    Applied At
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Applicant_CreatedAt)
                </dd>
                <dt class="col-sm-2" width="50px">
                    Latest Date Updated
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Applicant_UpdatedAt)
                </dd>
            </dl>
        </div>
        <hr />
        <div>
            <a href="@Url.Action("ManageRental", "AdminHome")"><i class="fas fa-arrow-left" href="@Url.Action("ManageRental", "AdminHome")"></i></a>
            <a asp-action="Accept" asp-route-id="@Model?.ApplicationId" style="margin-left: 85%; color: lawngreen">Accept</a> |
            <a href="@Url.Action("Index", "Applicants")" style="color: red">Reject</a>
        </div>
    </section>
</body>
</html>