@model RentalManagement.Models.RentalViewModel;

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

        <title>Kerwin's Apartment</title>
        <link rel="icon" type="image/x-icon" href="~/images/logo2.svg">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.5.0/css/all.css" />
        <link rel="stylesheet" href="~/css/home.css">
        <link rel="stylesheet" href="~/css/mrDesign.css">
        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
        

        
    </head>

<body id="bodyCont">

    <section id="header">
        <div class="navbar">
            <a asp-action="Logout" style="margin-top:12px" id="Logout">Logout</a>
            <div class="dropdown nbItem">
                <button class="dropbtn">
                    <i class="fas fa-tools"></i>
                </button>
                <div class="dropdown-content">
                    <a href="@Url.Action("Home", "AdminHome")">Home</a>
                    <a href="@Url.Action("Settings", "AdminHome")">Account Settings</a>
                </div>
            </div>
        </div>
    </section>

    <section class="manageRentalContainer">
        <div class="mrcLanding">
            <div class="mrButtonChoices">
                <button class="displayButton" id="tenantButton" data-target="tenantDisplay">Tenant List</button>
                <button class="displayButton" id="reqButton" data-target="reqDisplay">Requisition Forms</button>
                <button class="displayButton" id="roomButton" data-target="roomDisplay">Rental Room Details</button>
                <button class="displayButton" id="reportsButton" data-target="reportsDisplay">Reports & Analytics</button>
                <button class="displayButton" id="invoiceDisplay" data-target="invoiceDisplay">Invoices</button>
                <button class="displayButton" id="appButton" data-target="appDisplay">Rental Applications History</button>
            </div>
            <div class="tenantDisplay">
                <div class="tenantSearch">
                    <input type="search" placeholder="Search tenants" /><i class="fas fa-search"></i>
                </div>
                <table id="tenantTable" class="table">
                    <thead>
                            <tr>
                                <th>Tenant ID</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                    <tbody>
                        @foreach (var tenant in Model.Tenant)
                        {
                            <tr>
                                <td>@tenant.TenantId</td>
                                <td>@tenant.Tenant_FirstName</td>
                                <td>@tenant.Tenant_LastName</td>
                                <td>
                                    <a asp-action="TenantDetails" asp-route-id="@tenant.TenantId" style="color: green">Details</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

            <div class="reqDisplay">
                <div class="reqSearch">
                    <input type="search" placeholder="Search requisition" /><i class="fas fa-search"></i>
                </div>
                <table id="reqTable" class="table">
                    <thead>
                        <tr>
                            <th>Requisition ID</th>
                            <th>Requisition Type</th>
                            <th>Requisition Created</th>
                            <th>Requisition Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
  
                        @foreach (var requisition in Model.Requisition)
                        {
                            <tr>
                                <td>@requisition.RequisitionId</td>
                                <td>@requisition.Requisition_Type</td>
                                <td>@requisition.Requisition_CreatedAt.ToString("yyyy-MM-dd")</td>
                                <td>@requisition.Requisition_Status</td>
                                <td>
                                    <a asp-action="DetailsRequisition" asp-route-id="@requisition.RequisitionId" style="color: green">Details</a>
                                </td>
                            </tr>
                        }
                        </tbody>
                </table>
            </div>
            
            <div class="roomDisplay">
                <div class="roomSearch">
                    <input type="search" placeholder="Search rooms" /><i class="fas fa-search"></i>
                </div>
                <table id="roomTable" class="table">
                    <thead>
                        <tr>
                            <th>Room ID</th>
                            <th>Room Number</th>
                            <th>Room Status</th>
                            <th>Room Capacity</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var room in Model.Room)
                        {
                            <tr>
                                <td>@room.RoomId</td>
                                <td>@room.Room_Num</td>
                                <td>@room.Room_Status</td>
                                <td>@room.Room_Capacity</td>
                                <td>
                                    <a asp-action="DetailsRoom" asp-route-id="@room.RoomId" style="color: green">Details</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>  
            
            <div class="reportsDisplay">
                <canvas id="invoiceStatusChart"></canvas>


            </div>

            <div class="invoiceDisplay">
                <div class="invoiceSearch">
                    <input type="search" placeholder="Search tenant invoices" /><i class="fas fa-search"></i>
                </div>
                <table id="invoiceTable" class="table">
                    <thead>
                        <tr>
                            <th>Invoice ID</th>
                            <th>Created At</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody> 
                        @foreach (var invoice in Model.Invoice)
                        {
                             <tr>
                                <td>@invoice.Inv_ID</td>
                                <td>@invoice.Inv_CreatedAt</td>
                                <td>@invoice.Inv_Status</td>
                                 <td>
                                    <a asp-action="DetailsInvoice" asp-route-id="@invoice.Inv_ID" style="color: green">Details</a>
                                 </td>
                             </tr>
                        }

                   </tbody>
                </table>
            </div>
            
            <div class="appDisplay">
                <div class="appSearch">
                    <input type="search" placeholder="Search applications" /><i class="fas fa-search"></i>
                </div>
                <table id="appTable" class="table">
                    <thead>
                        <tr>
                            <th>Application ID</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>  
                        
                        @foreach (var application in Model.Applicants)
                        {
                                <tr>
                                    <td>@application.ApplicationId</td>
                                    <td>@application.Applicants_FirstName</td>
                                    <td>@application.Applicants_LastName</td>
                                    <td>@application.Application_Status</td>
                                    <td>
                                    <a asp-action="AppDetails" asp-route-id="@application.ApplicationId" style="color: green">Details</a>
                                    </td>
                                </tr>
                        }
                       
                    </tbody>
                </table>
            </div>

        </div>
    </section>  





    <footer>
        <div class="footer-columns">
            <div class="column" id="col">
                <img src="~/images/logo.svg" alt="">
                <h2>Kerwin's Apartment</h2>
            </div>
            <div class="colBorder"></div>
            <div class="column">
                <h4>About</h4>
                <p>About us</p>
                <p>Rental Information</p>
                <p>Rent Rates and Policies</p>
                <p>Terms and Condition</p>
                <p>Community Information</p>
            </div>
            <div class="colBorder"></div>
            <div class="column" id="col">
                <h4>Contact us</h4>
                <p>+63 9123456789</p>
                <p>kerwin.rental@kerwin.com.ph</p>
                <p>Paknaan, Mandaue City, Cebu 6014</p>
                <p>Kerwin's Apartment</p><br>
                <h4>Follow us</h4>
                <a href="https://www.facebook.com/">
                    <i class="fa-brands fa-facebook-f"></i>
                </a>
                <a href="https://www.twitter.com/">
                    <i class="fa-brands fa-twitter"></i>
                </a>
                <a href="https://www.instagram.com/">
                    <i class="fa-brands fa-instagram"></i>
                </a>
                <a href="https://www.pinterest.com/">
                    <i class="fa-brands fa-pinterest"></i>
                </a>
                <a href="https://www.youtube.com/">
                    <i class="fa-brands fa-youtube"></i>
                </a>
            </div>
        </div>


    </footer>

    <footer id="foot2">
        <div class="footCont">
            <div class="footCont2">
                <div class="column2">
                    <p>Web Application developed by <b>DPMS 2023</b></p>
                    <p>Delig • Pila • Monares • Salas</p>
                </div>
            </div>
        </div>
    </footer> 

    @*<script src="~/js/tenantlist.js"></script>*@
    <script src="~/js/tenantDisplay.js"></script>
    <script src="~/js/manageRental.js"></script>
    <script src="~/js/reportsDashboard.js"></script>
    <script src="~/js/requisitionDisplay.js"></script>
    <script src="~/js/RequisitionApiDisplay.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        // Get the data from the server-side model
        var invoiceStatusCounts = @Html.Raw(Json.Serialize(Model.InvoiceStatusCounts));

        // Extract labels and counts from the data
        var labels = Object.keys(invoiceStatusCounts);
        var data = Object.values(invoiceStatusCounts);

        // Create the pie chart
        var ctx = document.getElementById('invoiceStatusChart').getContext('2d');
        var chart = new Chart(ctx, {
            type: 'pie',
            data: {
                labels: labels,
                datasets: [{
                    data: data,
                    backgroundColor: [
                        'rgba(139, 69, 19, 0.7)', // Brown
                        'rgba(160, 82, 45, 0.7)',
                        'rgba(205, 133, 63, 0.7)',
                        'rgba(244, 164, 96, 0.7)',
                        'rgba(210, 105, 30, 0.7)',
                        'rgba(139, 69, 19, 0.7)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                title: {
                    display: true,
                    text: 'Invoice Payment Status'
                },
                legend: {
                    display: true,
                    position: 'right' // You can change the position to 'top', 'right', or 'left'
                },
                responsive: false, // Set to false to prevent resizing
                width: 400, // Set your preferred width
                height: 400 // Set your preferred height
            }
        });

        // Add box shadow
        chart.canvas.parentNode.style.boxShadow = '2px 2px 5px rgba(0, 0, 0, 0.2)';
    </script>




    

</body>
</html>  
