@model RentalManagement.Models.Applicants

@{
    ViewData["Title"] = "Application Rejection";
    Layout = "~/Views/Shared/_CustomLayout.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title>Kerwin's Apartment</title>
    <link rel="icon" type="image/x-icon" href="images/logo2.svg">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.5.0/css/all.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/home.css">
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
</head>
<body style="background-color: #FEEAD1">
    <section id="header">
        <div class="navbar">
            <a href="@Url.Action("Index", "Home")" class="nbItem" id="homeOpt"><i class="fa-solid fa-house"></i></a>
        </div>
    </section>
    <section id="detailsCont" style="margin-top: 30px;background-color: #422c10; border-radius: 10px; padding: 20px">
        <h1 style="color: red">Rejection</h1>
        <h4>Applicant</h4>
        <hr />
        <div style="padding-left: 30px">

            <dl class="row">
                <dt class="col-sm-2">
                    Name:
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Applicants_FirstName) @Html.DisplayFor(model => model.Applicants_MiddleName) @Html.DisplayFor(model => model.Applicants_LastName)
                </dd>
                <dt class="col-sm-2">
                    Email Address
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Applicants_Email)
                </dd>
                <dt class="col-sm-2">
                    Phone Number
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Applicants_PhoneNumber)
                </dd>
                <dt class="col-sm-2">
                    Address:
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Applicants_Address)
                </dd>
                <dt class="col-sm-2">
                    Room Applied
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Application_RoomNumber)
                </dd>
                <dt class="col-sm-2">
                    Unit ID
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Application_UnitNumber)
                </dd>
                <dt class="col-sm-2">
                    Application Status
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Application_Status)
                </dd>
                <dt class="col-sm-2" width="50px">
                    Applied At
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Applicant_CreatedAt)
                </dd>
                <dt class="col-sm-2" width="50px">
                    Latest Date Updated
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Applicant_UpdatedAt)
                </dd>
            </dl>
        </div>
        <hr />
        <form asp-action="RejectForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <fieldset style="margin-left:50px; width:85%">
                <div class="form-group">
                    <input asp-for="ApplicationId" type="number" value="@Model.ApplicationId" hidden/>
                    <label asp-for="Application_StatusRemark" class="control-label">Rejection Reason or Remarks</label>
                    <textarea asp-for="Application_StatusRemark" type="text" class="form-control" rows="5"></textarea>
                    <span asp-validation-for="Application_StatusRemark" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Submit" class="btn btn-primary" style="margin-top: 10px" />
                </div>
            </fieldset>
        </form>
        @if (ViewData["SuccessfulRejected"] != null)
        {
            <script>
                alert("Successfully Rejected Application!");
                window.location.href = '/AdminHome/ManageRental';
            </script>
        }
        <br />
        <div>
            <a href="@Url.Action("ManageRental", "AdminHome")"><i class="fas fa-arrow-left" href="@Url.Action("ManageRental", "AdminHome")"></i> Back to Home</a>
        </div>

    </section>

    <section id="backTopCont">
        <a href="#">
            <div class="backTop">
                <p>Back to Top&nbsp;&nbsp;<i class="fa-solid fa-arrow-up"></i></p>
            </div>
        </a>
    </section>

    <footer>
        <div class="footer-columns">
            <div class="column" id="col">
                <img src="images/logo.svg" alt="">
                <h2>Kerwin's Apartment</h2>
            </div>
            <div class="colBorder"></div>
            <div class="column">
                <h4>About</h4>
                <p>About us</p>
                <p>Rental Information</p>
                <p>Rent Rates and Policies</p>
                <p>Terms and Condition</p>
                <p>Community Information</p>
            </div>
            <div class="colBorder"></div>
            <div class="column" id="col">
                <h4>Contact us</h4>
                <p>+63 9123456789</p>
                <p>kerwin.rental@kerwin.com.ph</p>
                <p>Paknaan, Mandaue City, Cebu 6014</p>
                <p>Kerwin's Apartment</p><br>
                <h4>Follow us</h4>
                <a href="https://www.facebook.com/">
                    <i class="fa-brands fa-facebook-f"></i>
                </a>
                <a href="https://www.twitter.com/">
                    <i class="fa-brands fa-twitter"></i>
                </a>
                <a href="https://www.instagram.com/">
                    <i class="fa-brands fa-instagram"></i>
                </a>
                <a href="https://www.pinterest.com/">
                    <i class="fa-brands fa-pinterest"></i>
                </a>
                <a href="https://www.youtube.com/">
                    <i class="fa-brands fa-youtube"></i>
                </a>
            </div>
        </div>


    </footer>

    <footer id="foot2">
        <div class="footCont">
            <div class="footCont2">
                <div class="column2">
                    <p>Web Application developed by <b>DPMS 2023</b></p>
                    <p>Delig • Pila • Monares • Salas</p>
                </div>
            </div>
        </div>
    </footer>
</body>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
</html>