@model RentalManagement.Models.Tenant

@{
    ViewData["Title"] = "Tenant Delete";
    Layout = "~/Views/Shared/_CustomLayout.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.5.0/css/all.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/home.css">
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
</head>
<body style="background-color: #FEEAD1">
    <section id="header">
        <div class="navbar">
            <a asp-action="Logout" style="margin-top:12px" id="Logout">Logout</a>
            <div class="dropdown nbItem">
                <a href="@Url.Action("Settings", "AdminHome")"><i class="fas fa-tools"></i></a>
            </div>
        </div>
    </section>
    <section id="detailsCont" style="margin-top: 30px;background-color: #422c10; border-radius: 10px; padding: 20px">
        <h1 style="color: red">Deactivate</h1>
        <h3>Are you sure to remove this tenant?</h3>
        <div>
            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    Tenant ID
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.TenantId) 
                </dd>
                <dt class="col-sm-2">
                    Name
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Tenant_FirstName) @Html.DisplayFor(model => model.Tenant_MiddleName) @Html.DisplayFor(model => model.Tenant_LastName)
                </dd>
                <dt class="col-sm-2">
                    Email Address
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Tenant_Email)
                </dd>
                <dt class="col-sm-2">
                    Phone Number
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Tenant_PhoneNumber)
                </dd>
                <dt class="col-sm-2">
                    Room
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Tenant_RoomNumber)
                </dd>
                <dt class="col-sm-2">
                    Unit ID Applied
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Tenant_UnitNumber)
                </dd>
                <dt class="col-sm-2">
                    Applied At
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Tenant_CreatedAt)
                </dd>
                <dt class="col-sm-2">
                    Latest Updated
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Tenant_UpdatedAt)
                </dd>
            </dl>
        </div>
        <hr />
        <div>
            <form asp-action="TenantDelete">
                <input type="hidden" asp-for="TenantId" />
                <a href="@Url.Action("ManageRental", "AdminHome")"><i class="fas fa-arrow-left" href="@Url.Action("ManageRental", "AdminHome")"></i> Back to Home</a>
                <input type="submit" value="Deactivate" class="btn btn-danger" style="margin-left:70%" />
            </form>
            @if (ViewData["SuccessfulDelete"] != null)
            {
                <script>
                    alert("Successfully Deactivated Tenant!");
                    window.location.href = '/AdminHome/ManageRental';
                </script>
            }
        </div>
    </section>

    <section id="backTopCont">
        <a href="#">
            <div class="backTop">
                <p>Back to Top&nbsp;&nbsp;<i class="fa-solid fa-arrow-up"></i></p>
            </div>
        </a>
    </section>

    <footer>
        <div class="footer-columns">
            <div class="column" id="col">
                <img src="images/logo.svg" alt="">
                <h2>Kerwin's Apartment</h2>
            </div>
            <div class="colBorder"></div>
            <div class="column">
                <h4>About</h4>
                <p>About us</p>
                <p>Rental Information</p>
                <p>Rent Rates and Policies</p>
                <p>Terms and Condition</p>
                <p>Community Information</p>
            </div>
            <div class="colBorder"></div>
            <div class="column" id="col">
                <h4>Contact us</h4>
                <p>+63 9123456789</p>
                <p>kerwin.rental@kerwin.com.ph</p>
                <p>Paknaan, Mandaue City, Cebu 6014</p>
                <p>Kerwin's Apartment</p><br>
                <h4>Follow us</h4>
                <a href="https://www.facebook.com/">
                    <i class="fa-brands fa-facebook-f"></i>
                </a>
                <a href="https://www.twitter.com/">
                    <i class="fa-brands fa-twitter"></i>
                </a>
                <a href="https://www.instagram.com/">
                    <i class="fa-brands fa-instagram"></i>
                </a>
                <a href="https://www.pinterest.com/">
                    <i class="fa-brands fa-pinterest"></i>
                </a>
                <a href="https://www.youtube.com/">
                    <i class="fa-brands fa-youtube"></i>
                </a>
            </div>
        </div>


    </footer>

    <footer id="foot2">
        <div class="footCont">
            <div class="footCont2">
                <div class="column2">
                    <p>Web Application developed by <b>DPMS 2023</b></p>
                    <p>Delig • Pila • Monares • Salas</p>
                </div>
            </div>
        </div>
    </footer>
</body>


</html>