@model RentalManagement.Models.RentalViewModel

@{
    ViewData["Title"] = "Tenant Details";
    Layout = "~/Views/Shared/_CustomLayout.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.5.0/css/all.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/home.css">
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
</head>
<body style="background-color: #FEEAD1">
    <section id="header">
        <div class="navbar">
            <a asp-action="Logout" style="margin-top:12px" id="Logout">Logout</a>
            <div class="dropdown nbItem">
                <a href="@Url.Action("Settings", "AdminHome")"><i class="fas fa-tools"></i></a>
            </div>
        </div>
    </section>

    <section id="detailsCont" style="margin-top: 30px;background-color: #422c10; border-radius: 10px; padding: 20px">
        <h1>Details</h1>

        <div>
            <h4>Tenant</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    Tenant ID
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Tenant.First().TenantId)
                </dd>
                <dt class="col-sm-2">
                    Name
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Tenant.First().Tenant_FirstName) @Html.DisplayFor(model => model.Tenant.First().Tenant_MiddleName) @Html.DisplayFor(model => model.Tenant.First().Tenant_LastName)
                </dd>
                <dt class="col-sm-2">
                    Email Address
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Tenant.First().Tenant_Email)
                </dd>
                <dt class="col-sm-2">
                    Phone Number
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Tenant.First().Tenant_PhoneNumber)
                </dd>
                <dt class="col-sm-2">
                    Room
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Tenant.First().Tenant_RoomNumber)
                </dd>
                <dt class="col-sm-2">
                    Unit ID Applied
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Tenant.First().Tenant_UnitNumber)
                </dd>
                <dt class="col-sm-2">
                    Accepted At
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Tenant.First().Tenant_CreatedAt)
                </dd>
                <dt class="col-sm-2">
                    Latest Updated
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Tenant.First().Tenant_UpdatedAt)
                </dd>
            </dl>
        </div>
        <hr />	
        <p>Payment History</p>
        <div class="paymentHistoryTenantContainer" style="max-width: 100%; height: 300px; overflow-x: scroll; overflow-y: scroll; border: solid white 1px;">
            <table id="paymentTableTenant" class="table" style="background-color: aliceblue;">
                <thead>
                    <tr>
                        <th style="background-color: aliceblue !important;">Pay ID</th>
                        <th style="background-color: aliceblue !important;">Due Date</th>
                        <th style="background-color: aliceblue !important;">Rent Fee</th>
                        <th style="background-color: aliceblue !important;">Utility Fee</th>
                        <th style="background-color: aliceblue !important;">Garbage Fee</th>
                        <th style="background-color: aliceblue !important;">Aircon Fee</th>
                        <th style="background-color: aliceblue !important;">Internet Fee</th>
                        <th style="background-color: aliceblue !important;">Refrigerator Fee</th>
                        <th style="background-color: aliceblue !important;">Washing Fee</th>
                        <th style="background-color: aliceblue !important;">Created At</th>
                        <th style="background-color: aliceblue !important;">Updated At</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var payment in Model.PaymentHistory)
                    {
                        <tr>
                            <td style="background-color: aliceblue !important;">@payment.Pay_ID</td>
                            <td style="background-color: aliceblue !important;">@payment.Pay_DueDate</td>
                            <td style="background-color: aliceblue !important;">@payment.Pay_RentPrice</td>
                            <td style="background-color: aliceblue !important;">@payment.Pay_UtilityFee</td>
                            <td style="background-color: aliceblue !important;">@payment.Pay_GarbageFee</td>
                            <td style="background-color: aliceblue !important;">@payment.Pay_AirconFee</td>
                            <td style="background-color: aliceblue !important;">@payment.Pay_InternetFee</td>
                            <td style="background-color: aliceblue !important;">@payment.Pay_RefrigeratorFee</td>
                            <td style="background-color: aliceblue !important;">@payment.Pay_WashingFee</td>
                            <td style="background-color: aliceblue !important;">@payment.Pay_CreatedAt</td>
                            <td style="background-color: aliceblue !important;">@payment.Pay_UpdatedAt</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <hr/>
        <p>Requisition History</p>
        <div class="requisitionHistoryTenantContainer" style=" max-width: 100%; height: 300px; overflow-x: scroll; overflow-y: scroll; border: solid white 1px;">
            <table id="requisitionTableTenant" class="table" style="background-color: aliceblue;">
                <thead>
                    <tr>
                        <th style="background-color: aliceblue !important;">Requisition ID</th>
                        <th style="background-color: aliceblue !important;">Requisition Type</th>
                        <th style="background-color: aliceblue !important;">Requisition Remarks</th>
                        <th style="background-color: aliceblue !important;">Requisition Created At</th>
                        <th style="background-color: aliceblue !important;">Requisition Due At</th>
                        <th style="background-color: aliceblue !important;">Requisition Status</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var requisition in Model.RequisitionHistory)
                    {
                        <tr>
                            <td style="background-color: aliceblue !important;">@requisition.RequisitionId</td>
                            <td style="background-color: aliceblue !important;">@requisition.Requisition_Type</td>
                            <td style="background-color: aliceblue !important;">@requisition.Requisition_Remarks</td>
                            <td style="background-color: aliceblue !important;">@requisition.Requisition_CreatedAt</td>
                            <td style="background-color: aliceblue !important;">@requisition.Requisition_DueDate</td>
                            <td style="background-color: aliceblue !important;">@requisition.Requisition_Status</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <hr />




        <div>
            <a href="@Url.Action("ManageRental", "AdminHome")"><i class="fas fa-arrow-left" href="@Url.Action("ManageRental", "AdminHome")"></i> Back to Home</a>
            <a asp-action="TenantDelete" asp-route-id="@Model.Tenant.First().TenantId" style="color: red;margin-left:71%">Remove Tenant</a>
        </div>
    </section>

    <section id="paymentHistory">
        <div>

        </div>
    </section>

    <section id="backTopCont">
        <a href="#">
            <div class="backTop">
                <p>Back to Top&nbsp;&nbsp;<i class="fa-solid fa-arrow-up"></i></p>
            </div>
        </a>
    </section>

    <footer>
        <div class="footer-columns">
            <div class="column" id="col">
                <img src="images/logo.svg" alt="">
                <h2>Kerwin's Apartment</h2>
            </div>
            <div class="colBorder"></div>
            <div class="column">
                <h4>About</h4>
                <p>About us</p>
                <p>Rental Information</p>
                <p>Rent Rates and Policies</p>
                <p>Terms and Condition</p>
                <p>Community Information</p>
            </div>
            <div class="colBorder"></div>
            <div class="column" id="col">
                <h4>Contact us</h4>
                <p>+63 9123456789</p>
                <p>kerwin.rental@kerwin.com.ph</p>
                <p>Paknaan, Mandaue City, Cebu 6014</p>
                <p>Kerwin's Apartment</p><br>
                <h4>Follow us</h4>
                <a href="https://www.facebook.com/">
                    <i class="fa-brands fa-facebook-f"></i>
                </a>
                <a href="https://www.twitter.com/">
                    <i class="fa-brands fa-twitter"></i>
                </a>
                <a href="https://www.instagram.com/">
                    <i class="fa-brands fa-instagram"></i>
                </a>
                <a href="https://www.pinterest.com/">
                    <i class="fa-brands fa-pinterest"></i>
                </a>
                <a href="https://www.youtube.com/">
                    <i class="fa-brands fa-youtube"></i>
                </a>
            </div>
        </div>


    </footer>

    <footer id="foot2">
        <div class="footCont">
            <div class="footCont2">
                <div class="column2">
                    <p>Web Application developed by <b>DPMS 2023</b></p>
                    <p>Delig • Pila • Monares • Salas</p>
                </div>
            </div>
        </div>
    </footer>
</body>


</html>