@model RentalManagement.Models.Tenant

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Tenant</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tenant_FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tenant_FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tenant_MiddleName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tenant_MiddleName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tenant_LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tenant_LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tenant_Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tenant_Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tenant_PhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tenant_PhoneNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tenant_RoomNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tenant_RoomNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tenant_UnitNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tenant_UnitNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tenant_CreatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tenant_CreatedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tenant_UpdatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tenant_UpdatedAt)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.TenantId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
