@model IEnumerable<RentalManagement.Models.Supplier>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Suppliers_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Suppliers_Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Suppliers_PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Suppliers_Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Supplier_CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Supplier_UpdatedAt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Suppliers_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Suppliers_Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Suppliers_PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Suppliers_Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Supplier_CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Supplier_UpdatedAt)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SuppliersId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SuppliersId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SuppliersId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
