@model RentalManagement.ViewModel.ReqVM
@{
    ViewData["Title"] = "Create";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="images/logo2.svg">
    <title>Kerwin's Apartment'</title>
    <link rel="stylesheet" href="~/css/reqs.css">
    <script src="~/js/req.js" type="module"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


</head>
<body id="bodyCont">
    <section id="header">
        <div class="navbar">
            <a asp-action="Logout" style="margin-top:12px" id="Logout">Logout</a>
            <div class="dropdown nbItem">
                <button class="dropbtn">
                    <i class="fas fa-tools"></i>
                </button>
                <div class="dropdown-content">
                    <a href="@Url.Action("Notifications", "TenantHome")">Notifications</a>
                    <a href="@Url.Action("Settings", "TenantHome")">Account Settings</a>
                </div>
            </div>
        </div>
    </section>
    </br>
    </br>

    <a class="view-requests-link" href="@Url.Action("Details", "Requisition")">View Requests</a>

    <form action="@Url.Action("Create", "Requisition")" method="post" id="requisitionForm">
        @Html.AntiForgeryToken()



        <label for="Requisition.Requisition_Type">Requisition Type:</label>
        <select id="Requisition_Type" name="Requisition.Requisition_Type" class="requisition-type-dropdown">
            <option value="" disabled selected>Select a type</option>
            <option value="REQUEST_ITEM">REQUEST ITEM</option>
            <option value="REQUEST_SERVICE">REQUEST SERVICE</option>
        </select>

        <div id="itemSection" style="display:none;">

            @if (Model.Inventories != null && Model.Inventories.Any())
            {
                <table class="itemTable">
                    <thead>
                        <tr>
                            <th>Inventory Name</th>
                            <th>Item Quantity</th>
                            <th>Item Unit/s</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < 1; i++)
                        {
                            <tr class="item-row">
                                <td>
                                    <select class="item-name" name="RequisitionItem[0].Req_Item_Name">
                                        <option value="" disabled selected>Select an item</option>
                                        @foreach (var inventory in Model.Inventories)
                                        {
                                            <option value="@inventory.Inventory_ItemName" data-id="@inventory.InventoryId" data-iname="@inventory.Inventory_ItemName" data-quantity="@inventory.Inventory_ItemQuantity" data-unit="@inventory.Inventory_ItemUnit">@inventory.Inventory_ItemName</option>
                                        }
                                    </select>
                                </td>
                                <td>
                                    <input type="number" class="item-quantity" name="RequisitionItem[0].Req_Item_Quantity" />
                                </td>
                                <td>
                                    <input type="text" class="item-units" name="RequisitionItem[0].Req_Item_Units" />
                                </td>
                                <td>
                                    <input class="inventory-id" type="hidden" name="RequisitionItem[0].InventoryId"/>
                                    <a href="javascript:void(0);" class="addanotheritem" style="color: green;">Add Item</a>
                                    <a href="javascript:void(0)" class="removeitem" style="color: red; display:none;">Remove</a>
                                </td>
                                
                            </tr>
                        }

                    </tbody>
                </table>

                
            }
            else
            {
                <p>No inventories available.</p>
            }


            
        </div>

        <div id="serviceSection" style="display:none;">
            <label for="Requisition.Req_Serv_Name">Service Name:</label>
            <input type="text" id="Req_Serv_Name" name="RequisitionService[0].Req_Serv_Name" />
            <a href="javascript:void(0);" class="addServiceButton" style="color: green;">Add Item</a>
        </div>

        <input type="hidden" id="Requisition_CreatedAt" name="Requisition.Requisition_CreatedAt" />
        <input type="hidden" id="Requisition_Status" name="Requisition.Requisition_Status" value="Pending" />
        </br>
        </br>
        <label for="Requisition.Requisition_DueDate">Due Date:</label>
        <input type="date" id="Requisition_DueDate" name="Requisition.Requisition_DueDate" class="due-date-input" />

        <label for="Requisition.Requisition_Remarks">Description of Request:</label>
        <textarea id="Requisition_Remarks" name="Requisition.Requisition_Remarks" class="request-description-textarea"></textarea>


        <button type="submit">Submit</button>
    </form>

    <script type="module" src="~/js/req.js"></script>


    <footer>
        <div class="footer-columns">
            <div class="column" id="col">
                <img src="~/images/logo.svg" alt="">
                <h2>Kerwin's Apartment</h2>
            </div>
            <div class="colBorder"></div>
            <div class="column">
                <h4>About</h4>
                <p>About us</p>
                <p>Rental Information</p>
                <p>Rent Rates and Policies</p>
                <p>Terms and Condition</p>
                <p>Community Information</p>
            </div>
            <div class="colBorder"></div>
            <div class="column" id="col">
                <h4>Contact us</h4>
                <p>+63 9123456789</p>
                <p>kerwin.rental@kerwin.com.ph</p>
                <p>Paknaan, Mandaue City, Cebu 6014</p>
                <p>Kerwin's Apartment</p><br>
                <h4>Follow us</h4>
                <a href="https://www.facebook.com/">
                    <i class="fa-brands fa-facebook-f"></i>
                </a>
                <a href="https://www.twitter.com/">
                    <i class="fa-brands fa-twitter"></i>
                </a>
                <a href="https://www.instagram.com/">
                    <i class="fa-brands fa-instagram"></i>
                </a>
                <a href="https://www.pinterest.com/">
                    <i class="fa-brands fa-pinterest"></i>
                </a>
                <a href="https://www.youtube.com/">
                    <i class="fa-brands fa-youtube"></i>
                </a>
            </div>
        </div>


    </footer>

    <footer id="foot2">
        <div class="footCont">
            <div class="footCont2">
                <div class="column2">
                    <p>Web Application developed by <b>DPMS 2023</b></p>
                    <p>Delig • Pila • Monares • Salas</p>
                </div>
            </div>
        </div>
    </footer>

</body>
</html>
