@model List<RentalManagement.Models.Requisition>

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/Requisition_Layout.cshtml";

}
@if (Model.Count == 0)
{
    <p>No requests found for this tenant.</p>
}
else
{
    <div class="container">
        <div class="row">
            @foreach (var requisition in Model)
            {
                <div class="col-md-6 mb-4">
                    <div class="container border p-3" style="min-height: 400px; max-height: 1000px; overflow-y: auto;">
                        <h2>Requisition Details</h2>
                        <dl class="row">
                            <dt class="col-sm-5">Tenant's Name:</dt>
                            <dd class="col-sm-7">@($"{requisition.Tenant?.Tenant_FirstName} {requisition.Tenant?.Tenant_MiddleName} {requisition.Tenant?.Tenant_LastName}")</dd>

                            <dt class="col-sm-5">Request Type:</dt>
                            <dd class="col-sm-7">@requisition.Requisition_Type</dd>

                            <dt class="col-sm-5">Date Requested:</dt>
                            <dd class="col-sm-7">@requisition.Requisition_CreatedAt</dd>

                            <dt class="col-sm-5">Request Status:</dt>
                            <dd class="col-sm-7">@requisition.Requisition_Status</dd>

                            <dt class="col-sm-5">Request Remarks:</dt>
                            <dd class="col-sm-7">@requisition.Requisition_Remarks</dd>
                        </dl>

                        @if (requisition.Requisition_Type == "REQUEST_SERVICE")
                        {
                            <h3>Service Details</h3>
                            <dl class="row">
                                <dt class="col-sm-5">Requested Service:</dt>
                                <dd class="col-sm-7">@requisition.RequisitionServices?.FirstOrDefault()?.Req_Serv_Name</dd>


                            </dl>
                        }

                        @if (requisition.Requisition_Type == "REQUEST_ITEM")
                        {
                            <h3>Item Details</h3>
                            <dl class="row">
                                <dt class="col-sm-5">Requested Item:</dt>
                                <dd class="col-sm-7">@requisition.RequisitionItems?.FirstOrDefault()?.Req_Item_Name</dd>

                                <dt class="col-sm-5">Request Item Quantity:</dt>
                                <dd class="col-sm-7">@requisition.RequisitionItems?.FirstOrDefault()?.Req_Item_Quantity</dd>

                                <dt class="col-sm-5">Request Item Units:</dt>
                                <dd class="col-sm-7">@requisition.RequisitionItems?.FirstOrDefault()?.Req_Item_Units</dd>

                            </dl>
                        }
                        <hr />
                    </div>
                </div>
            }
        </div>
    </div>
}
