@model List<RentalManagement.Models.Requisition>

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/Requisition_Layout.cshtml";
}

<a class="view-requests-link" href="@Url.Action("Index", "TenantHome")">Back to Home</a>

@if (Model.Count == 0)
{
    <p>You Don't Have Any Request/s.</p>
}
else
{
    foreach (var requisition in Model)
    {

        <div class="custom-container">

        <h2>Request Details</h2>
        <br/>
        <ul>
            <li><strong>Request Remarks:</strong> @requisition.Requisition_Remarks</li>
            <li><strong>Request Status:</strong> @requisition.Requisition_Status</li>
            <li><strong>Request Due-Date:</strong> @requisition.Requisition_DueDate.ToShortDateString()</li>
        </ul>
        <br/>
        @if (requisition.Requisition_Type == "REQUEST_ITEM")
        {

            <h3>Request Item/s:</h3>
            <ul>
            
                @foreach (var item in requisition.RequisitionItems)
                {
                    
                     <h4>Item Request Name: @item.Req_Item_Name</h4>
                     <ul>
                         <li>
                             <strong>Quantity:</strong> @item.Req_Item_Quantity
                         </li>
                         <li>
                              <strong>Unit/s:</strong> @item.Req_Item_Units
                         </li>
                     </ul>       

                }
            
            </ul>
            

        }
        @if (requisition.Requisition_Type == "REQUEST_SERVICE")
        {
            <h3>Request Service/s:</h3>
            <ul>
                @foreach (var service in requisition.RequisitionServices)
                {
                   <h4>Service Request Name: @service.Req_Serv_Name</h4>
                }
            </ul>

        }

        </div>

    }
}
