@model IEnumerable<RentalManagement.Models.Inventory>

@{
    ViewData["Title"] = "Inventory List";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Add New Item</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Item Name
            </th>
            <th>
                Item Quantity
            </th>
            <th>
                Quantity Unit
            </th>
            <th>
                Date Added
            </th>
            <th>
                Date Edited
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Inventory_ItemName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Inventory_ItemQuantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Inventory_ItemUnit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Inventory_CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Inventory_UpdatedAt)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.InventoryId">Edit Item</a> |
                <a asp-action="Details" asp-route-id="@item.InventoryId">View Item Details</a> |
                <a asp-action="Delete" asp-route-id="@item.InventoryId">Delete Item</a>
            </td>
        </tr>
}
    </tbody>
</table>
