@model RentalManagement.Models.Room

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Applicants</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RoomId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RoomId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Room_Num)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Room_Num)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Room_Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Room_Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Room_Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Room_Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UnitId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UnitId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Create" asp-route-id="@Model?.RoomId">Apply for Rent</a>
    <a asp-action="RoomPicking">Back to List</a>
</div>
