@model RentalManagement.Models.Applicants

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Applicants</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Applicants_FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Applicants_FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Applicants_MiddleName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Applicants_MiddleName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Applicants_LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Applicants_LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Applicants_Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Applicants_Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Applicants_PhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Applicants_PhoneNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Applicants_Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Applicants_Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Applicant_CreatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Applicant_CreatedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Applicant_UpdatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Applicant_UpdatedAt)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ApplicationId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
