@model IEnumerable<RentalManagement.Models.Applicants>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Applicants_FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Applicants_MiddleName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Applicants_LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Applicants_Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Applicants_PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Applicants_Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Applicant_CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Applicant_UpdatedAt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Applicants_FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Applicants_MiddleName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Applicants_LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Applicants_Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Applicants_PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Applicants_Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Applicant_CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Applicant_UpdatedAt)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ApplicationId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ApplicationId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ApplicationId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
